<p><a href="https://www.github.com/rootstrap/yaaf-examples/blob/master/app/forms/bulk_invites_form.rb" target="_blank">See the form's code</a></p>

<h2>Invites</h2>

<%= simple_form_for(@form, url: invites_path) do |f| %>
  <%= f.error_notification %>

  <% if f.object.errors.messages[:base].any? %>
    <div class="alert alert-danger">
      <ul class="mb-0">
        <% f.object.errors.messages[:base].each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
    <%= f.simple_fields_for :invites do |ff| %>
      <%= ff.input :email %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.submit 'Send invites', class: 'btn btn-primary' %>
  </div>
<% end %>
