<p><a href="https://www.github.com/rootstrap/yaaf-examples/blob/master/app/forms/registration_form.rb">See the form's code</a></p>

<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <% if f.object.errors.keys.include? :base %>
    <p><%= f.object.errors.messages[:base].join("\n") %></p>
  <% end %>

  <div class="form-inputs">
    <%= f.input :first_name, autofocus: true %>
    <%= f.input :last_name %>
    <%= f.input :email, input_html: { autocomplete: "email" } %>
    <%= f.input :password,
                hint: t('.hint', minimum_password_length: @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                input_html: { autocomplete: "new-password" } %>
  </div>

  <div class="form-actions">
    <%= f.submit t('.submit') %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
