<!DOCTYPE html>
<html>
  <head>
    <title>YAAF Examples</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container mt-5">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key == 'notice' ? 'success' : 'danger' %>" role="alert">
        <%= value.html_safe %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
